.Quiz {
  width: 80%;
  margin: 1rem auto;

  max-width: 800px;
  border-radius: 10px;

  background-color: #3C4856;
  color: #fff;
  padding: 1rem;
}



.count-container {
  margin-bottom: 1.25rem;
}

.count-text {
  font-size: 1.5rem;
}


.question {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}


.answers-container {
  display: flex;
  flex-direction: column;
}

.answer {
  width: 60%;
  margin: .5rem;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.answer:hover {
  background-color: rgba(159, 172, 189, 1);
}


/* SCORE */
.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-text {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.75rem;
}

.score-button {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: rgb(42, 124, 182);
  color: #fff;
  transition: .3s;
  margin-bottom: 1.25rem;
}

.score-button:hover {
  background-color: rgba(42, 124, 182, 0.8);
  transition: .3s;
}


/* WRONG ANSWERS */
.wrong-answer {
  margin: 1.33rem 0;
}

.wrong-answer p {
  font-size: .9rem;
}

.your-answer {
  color: red;
}

.correct-answer {
  color: green;
}
